﻿<style>
    .li_data li,.li_template li{
        margin: 10px 0;
    }
</style>
<div style="width: 100%;height: 100%;position: relative">
    <table style="height: 100%; width: 84%;display: inline-block" class="blastfurnace3-draw">
        <tr>
        </tr>
    </table>

    <ul class="li_data" style="width: 16%;position: absolute;right:10px;top: 20px;">
        <h4 style="margin: 0 auto">实时数据</h4>
        <div></div>
    </ul>
</div>




<!--<script type="text/javascript" src="thirdparty/charts/loader.js"></script>-->
<script src="GUI/static/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">

    $(function () {
        var draw=$('.blastfurnace3-draw');
        var config={
            rate:1,ltype:3,timespan:30
        };
        /*初始化*/
        configDraw('rtdatacfg/searchDatas',config);
        /*数据*/
        clock('rtdatacfg/searchDatas',config);

        var int=null;
        int=self.setInterval(function(){
            clock('rtdatacfg/searchDatas',config)
        },1000);
      /*  window.clearInterval(int);*/
        TimerCustom.setNum(int);

        /*更新数据*/
        function refreshData(chart,timespan,data){
            if(!chart){
                return;
            }
            if(!data||data.length<1)return;
            var option = chart.getOption();
            option.xAxis[0].data=timespan;
            option.series = data;
            chart.setOption(option);
        }
        /*构建OPTIONS*/
        function ec(config) {
            return {
                title : {
                    text: config.title||'',
                    textStyle:{
                        color:'#ccc',
                        fontStyle:'normal',
                        fontSize:18
                    },
                    left:'right'
                },
                tooltip : {trigger: 'axis'},
                legend: {show: true, bottom:0, data:config.name||[]},
                toolbox: {show : true, left:20, top:10, feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: true},
                        /*  magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},*/
                        restore : {show: true}, saveAsImage : {show: true}
                    }},
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data :[]
                    }
                ],
                yAxis : [{type : 'value'}],
                series :[]
                /*   //修改数据视图
                   optionToContent: function(opt) {
                       var num=3;
                       var axisData = opt.xAxis[0].data;
                       var series = opt.series;
                       /!*var table = '<table style="width:100%;text-align:center"><tbody><tr>'
                           + '<td>时间</td>'
                           + '<td>' + series[0].name + '</td>'
                           + '<td>' + series[1].name + '</td>'
                           + '<td>' + series[2].name + '</td>'
                           + '<td>' + series[3].name + '</td>'
                           + '</tr>';
                       for (var i = 0, l = axisData.length; i < l; i++) {
                           table += '<tr>'
                               + '<td>' + axisData[i] + '</td>'
                               + '<td>' + series[0].data[i] + '</td>'
                               + '<td>' + series[1].data[i] + '</td>'
                               + '<td>' + series[2].data[i] + '</td>'
                               + '<td>' + series[3].data[i] + '</td>'
                               + '</tr>';
                       }*!/
                       var table = '<table style="width:100%;text-align:center"><tbody><tr>';
                       for (var z = 0;z < num.length; z++){
                           table +=  + '<td>' + series[z].name + '</td>';
                       }
                       table+=+ '</tr>';
                       for (var i = 0, l = axisData.length; i < l; i++) {
                           table += '<tr>'
                               + '<td>' + axisData[i] + '</td>';
                           for (var m = 0;m < num.length; z++){
                               table +=  + '<td>' + series[m].name + '</td>';
                           }
                           table+=+ '</tr>';

                       }
                       table += '</tbody></table>';
                       return table;
                   }*/
            };
        }
        function clock(url,params) {
            if(!url||url==='')return;
            HTTP.post(url,params,function (result) {
                if(result['success']){
                    var records=result['data']['trenddata'];
                    var datas=records['datas'];
                    var groups=records['groups'];
                    var items=records['items'];
                    var createList=[],name={};
                    $.each(items,function (i,item) {
                        name[item['id']]=item['name']+item['unit'];
                    });
                    var shdata=[];

                    var keys = Object.keys(datas);
                    for (var i = 0; i < keys.length; i++) {
                        var values = datas[keys[i]];

                        var len = values.length;
                        if ( len > 5 ){

                            var cur = 0;
                            for (var j = len -5; j < len; j++) {
                                if ( values[j] != 0 ){
                                    cur = values[j];
                                    continue;
                                }
                                if ( values[j] == 0 ) {
                                    values[j] = cur;
                                }
                            }
                        }
                        datas[keys[i]] = values;
                    }


                    $.each(items,function (i,item) {
                        if(item['id']&&datas[item['id']]){
                            shdata.push({name:item['name']+item['unit'],value:datas[item['id']][datas[item['id']].length-1]})
                        }
                    });
                    $.each(groups,function (i,item) {
                        createList=[];
                        $.each(item.metrics,function (j,dm) {
                            if(name[dm]){
                                createList.push({name:name[dm],type:'line',data:datas[dm]})
                            }
                        });
                        refreshData( $("#map_"+item['name']).data('target'),records['xaxis'],createList);
                    });
                    $('.li_data').find('div').html('');
                    $.each(shdata,function (i,item) {
                        console.log(1);
                        $('.li_data').find('div').append('<li style="text-align: right;color: green"><span style="left: 0;position: absolute;color: black">'+item['name']+'</span>'+item['value']+'</li>');
                    });

                }else{
                    $.messager.alert('提示','实时更新数据失败，请重新打开页面');
                    return false;
                }
            });
        }
        function configDraw(url,params) {
            if(!url||url==='')return;
            HTTP.post(url,params,function (result) {
                if(result['success']&&result['data']['trenddata']){
                    var groups=result['data']['trenddata']['groups'];
                    var items=result['data']['trenddata']['items'];
                    $.each(groups,function (i,group) {
                        $(draw).find('tr').append(
                            '<td style="width: 45%;display: inline-block">' +
                            '<div id="map_'+group['name']+'"  style="width:480px;height:320px;"></div>' +
                            '</td>');
                        var myChart = echarts.init(document.getElementById('map_'+group['name']));
                        myChart.clear();
                        var name=[];
                        $.each(items,function (i,item) {
                            if(group['metrics'].indexOf(item['id'])>-1){
                                name.push(item['name']+item['unit']);
                            }
                        });
                        var drawConfig={
                          name:name,title:group['name']
                        };
                        myChart.setOption(ec(drawConfig));
                        $("#map_"+group['name']).data('target',myChart);

                    });
                }else{
                    $.messager.alert('提示','初始化失败');
                    return false;
                }
            });
        }


    })


</script>
