<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false">

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%p] %C.%M (%F:%L) - %m \n"/>
        </layout>
    </appender>

    <appender name="network" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="gavel-network.log"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [MSG] - %m %n"/>
        </layout>
    </appender>

    <appender name="app" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="gavel-app.log"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [MSG] - %m %n"/>
        </layout>
    </appender>

    <logger name="com.gavel" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="app"/>
        <appender-ref ref="console"/>
    </logger>

    <logger name="com.gavel.network" additivity="false">
        <level value="info"/>
        <appender-ref ref="network"/>
        <appender-ref ref="console"/>
    </logger>



    <root>
        <priority value="warn"/>
        <appender-ref ref="console"/>
    </root>
    
</log4j:configuration>