<?xml version="1.0" encoding="UTF-8"?>
<module>
    <id>800000000</id>
    <name>案件管理</name>
    <zjm>ajgl</zjm>>
    <version>1.0</version>

    <menu mkid="800000000" mkmc="案件管理">
        <menu mkid="800100000" mkmc="专利" url="patent/ajxx/index">
        </menu>

        <menu mkid="800200000" mkmc="商标" url="patent/trademark/index">
        </menu>

        <menu mkid="800300000" mkmc="版权" url="patent/copyright/index">
        </menu>



        <menu mkid="800400000" mkmc="待答复" url="patent/ddf/index">
        </menu>

        <menu mkid="800500000" mkmc="待缴费" url="patent/djf/index">
        </menu>

        <menu mkid="800600000" mkmc="已缴费" url="patent/yjf/index">
        </menu>

    </menu>

    <menu mkid="801000000" mkmc="财务管理">

        <menu mkid="801010000" mkmc="客户管理" url="patent/khgl/index">
        </menu>

        <menu mkid="801020000" mkmc="财务往来" url="patent/cwwl/index">
        </menu>

        <menu mkid="801030000" mkmc="款项认领" url="patent/kxrl/index">
        </menu>

        <menu mkid="801040000" mkmc="支出请款" url="patent/zcqk/index">
        </menu>

        <menu mkid="801050000" mkmc="任务日志" url="patent/dailytask/index">
        </menu>

    </menu>

</module>