<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">趋势图ID：</label>
            <div class="gui-input-block">
                <input type="text" name="mid" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">序号：</label>
            <div class="gui-input-block">
                <input type="text" name="xh" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">指标：</label>
            <div class="gui-input-block">
                <input type="text" name="metrics" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">指标名称：</label>
            <div class="gui-input-block">
                <input type="text" name="name" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">指标数据单位：</label>
            <div class="gui-input-block">
                <input type="text" name="unit" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">类型：</label>
            <div class="gui-input-block">
                <input type="text" name="type" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">分组名称：</label>
            <div class="gui-input-block">
                <input type="text" name="group" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            var $dialog=$('#trendQstitemEdit');
    })

</script>