<div id="patentCopyright" class="gui-div">
    <table class="toolbar-table" data-options="id: 'patentCopyrightTable',herf:'kzzx/gridset/query'">
    </table>

    <!-- 表格工具栏开始 -->
    <div id="patentCopyrightTable-toolbar" class="gui-toolbar"
         data-options="grid:{
	           type:'datagrid',
	           id:'patentCopyrightTable'
	       }">
        <a class="toolbar-reload toolbar" href="javascript:void(0)"></a>
        <!--<a class="toolbar-print toolbar"  href="javascript:void(0)"></a>-->
        <a class="toolbar-import toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-export toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-review toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-add toolbar" href="javascript:void(0)"></a>
        <!--<a class="toolbar-copy toolbar" href="javascript:void(0)"></a>-->
        <a class="toolbar-edit toolbar" href="javascript:void(0)"></a>
        <!--<a class="toolbar-delete toolbar" href="javascript:void(0)"></a>-->
        <div class="bdsug" style="height: auto;">
            <form action="" class="query-criteria">
                <ul>
                    <li class="bdsug-store bdsug-overflow">

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请名称：</label><input type="text" name="sqmc"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请人：</label><input type="text" name="sqr"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请号：</label><input type="text" name="sqh"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                    </li>

                    <li class="bdsug-store bdsug-overflow">

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请日期：</label>
                            <input type="text" name="start"   class="gui-textbox" style="width: 120px;height: 24px">
                            -
                            <input type="text" name="end"   class="gui-textbox" style="width: 120px;height: 24px">
                        </span>



                        <span style="margin: 10px">
                            <label style="width: 70px;">客户：</label><input type="text" name="kh"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                        <span class="serach">
                             <button type="button" class="btn btn-primary ng-binding datagrid-search query">搜索</button>
                        </span>


                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<!-- 表格工具栏结束 -->
<script>
    /*js初始化*/
    $(function () {

        $('#patentCopyright input[name="start"]').iDatebox({});

        $('#patentCopyright input[name="end"]').iDatebox({});

        // ComboboBox.init($('#patentCopyright input[name="kh"]'),
        //     {url: 'patent/khgl/query', valueField: 'khmc', textField: 'khmc', allowNull: true,width:'100%'});


        var $div = $('#patentCopyright');
        var options = {
            url: 'patent/copyright',
            queryParams: {},
            onLoadSuccess:function(data){
                $(".note").tooltip(
                    {
                        onShow: function(){
                            $(this).tooltip('tip').css({
                                width:'300',
                                boxShadow: '1px 1px 3px #292929'
                            });
                        }
                    }
                );
            },
            columns: [[
                {title: "编码", field: "bm", fieldType: "ftString", width: 100},
                {title: "编号", field: "code", fieldType: "ftString", width: 160},
                {title: "客户", field: "kh", fieldType: "ftString", width: 120},
                {title: "申请人", field: "sqr", fieldType: "ftString", width: 120},
                {title: "版权名称", field: "sqmc", fieldType: "ftString", width: 120, formatter: function(value, row, index) {
                        var abValue = value;
                        if (value.length>=22) {
                            abValue = value.substring(0,19) + "...";
                        }
                        var content = '<span  title="' + value + '" class="note">' + abValue + '</span>';
                        return content;
                    }
                },
                {title: "设计人", field: "jxr", fieldType: "ftString", width: 120},
                {title: "申请日", field: "sqrq", fieldType: "ftDateTime", width: 140},
                {title: "递交人", field: "djr", fieldType: "ftString", width: 120},
                {title: "状态", field: "stat", fieldType: "ftString", width: 120, formatter: function(value, row, index) {
                        var content = value || "";
                        return '<span  title="' + content + '" class="note">' + content + '</span>';
                    }
                },
                {title: "证书", field: "zs", fieldType: "ftString", width: 120}
            ]],
            dialog: {
                id: 'patentCopyrightEdit',
                width: 900,
                height: 540,
                href: 'patent/copyright/edit'
            }
        };
        $div.Container(options);

        $("#patentCopyright .toolbar-import").iMenubutton({
            event:'openDialog',
            iconCls: 'fa fa-upload',
            text:'导入',
            dialog:{
                title:'案件导入',
                id:'patentKhglAdd',
                width:840,
                height: 510,
                href:'patent/copyright/importpage',
                tag:'add'
            }
        });
    });


</script>
