<div class="gui-fluid editTable">
 <input type="hidden" name="id">
 <input type="hidden" name="flag">
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >指标ID：</label>
            <div class="gui-input-block">
                <input type="text" name="metric" data-options="required:false" data-toggle="gui-textbox" style="width:100px;">
            </div>
        </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >指标名称：</label>
            <div class="gui-input-block">
                <input type="text" name="name" data-options="required:false" data-toggle="gui-textbox" style="width: 100px">
            </div>
        </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >日期：</label>
            <div class="gui-input-block">
                <input type="text" name="thdate" data-options="required:false" data-toggle="gui-textbox" style="width: 100px">
            </div>
        </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >时间点：</label>
            <div class="gui-input-block">
                <input type="text" name="time" data-options="required:false" data-toggle="gui-textbox" style="width:100px;">
            </div>
        </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >值：</label>
            <div class="gui-input-block">
                <input type="text" name="value" data-options="required:false" data-toggle="gui-textbox" style="width: 100px">
            </div>
        </div>
    </div>
</div>