<div id="datapoint" class="gui-div">
    <table class="toolbar-table" data-options="id: 'datapointTable',herf:'report/gridset/query'">
    </table>
    <div id="datapointTable-toolbar" class="gui-toolbar" data-options="grid:{type:'datagrid',id:'datapointTable'}">
        <a class="toolbar-reload toolbar"  href="javascript:void(0)"></a>
        <a class="toolbar-add toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-edit toolbar" href="javascript:void(0)"></a>
        <!--<a class="toolbar-delete toolbar" href="javascript:void(0)"></a>-->

        <a class="btn btn-primary serach toolbar-search"></a>
        <div class="bdsug" style="height: auto;">
            <form action="" class="query-criteria">
                <ul><li class="bdsug-store bdsug-overflow">
                <span style="margin: 10px">
                    <label >日期范围：</label>
                    <input type="text" data-toggle="gui-datebox" name="start">
                    <input type="text" data-toggle="gui-datebox" name="end">
                    </span>
                    <span style="margin: 10px">
                        <label >指标：</label><input type="text" name="metric" >
                    </span>
                </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<script>



    $(function () {

        $("#datapoint input[name='start']").iDatebox({});
        $("#datapoint input[name='end']").iDatebox({});
        $("#datapoint input[name='metric']").iTextbox({});

        var $div=$('#datapoint');
        var options={
            url:'rtdata/datapoint',
            columns:[[
                {title: "ID", index: 10, field: "id", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "指标ID", index: 20, field: "metric", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "指标名称", index: 30, field: "name", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "日期", index: 40, field: "thdate", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "时间点", index: 50, field: "time", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "值", index: 60, field: "value", width: 160, halign:'center', align: 'right',  hidden: false }
            ]],
            dialog:{
                id:'datapointEdit',
                width: 1000,
                height: 600,
                href:'rtdata/datapoint/edit'
            }
        };
        $div.Container(options);
    });

</script>