<div class="gui-fluid editTable">
 <input type="hidden" name="id">
 <input type="hidden" name="flag">
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >编码：</label>
            <div class="gui-input-block">
                <input type="text" name="code" data-options="required:false" data-toggle="gui-textbox"
                style="">
            </div>
        </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >描述：</label>
            <div class="gui-input-block">
                <input type="text" name="name" data-options="required:false" data-toggle="gui-textbox"
                style="">
            </div>
        </div>
    </div>
    <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >取值算法：</label>
            <div class="gui-input-block">
                <input type="text" name="algorithm" data-options="required:false" data-toggle="gui-textbox"
                       style="">
            </div>
        </div>
    </div>
    <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >数据查询窗口(秒)：</label>
            <div class="gui-input-block">
                <input type="text" name="window" data-options="required:false" data-toggle="gui-textbox"
                       style="">
            </div>
        </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" >数据点列表：</label>
            <div class="gui-input-block">
                <input type="text" name="metrics"  data-options="multiline:true"  data-toggle="gui-textarea" style="width: 100%;height:90px">
            </div>
        </div>
    </div>
</div>