<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="requestResourceAspectBean" class="com.gavel.framework.aspect.RequestResourceAspect" />
    <aop:config>
        <aop:aspect id="requestResourceAspect" ref="requestResourceAspectBean">
            <aop:pointcut id="target" expression="execution(* com.gavel..*.controller.*.*(..))" />
            <aop:around method="around" pointcut-ref="target"/>
        </aop:aspect>
    </aop:config>


</beans>
