<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">日期：</label>
            <div class="gui-input-block">
                <input type="text" name="date" data-toggle="gui-datetimebox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">物料编码：</label>
            <div class="gui-input-block">
                <input type="text" name="flid" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">数量：</label>
            <div class="gui-input-block">
                <input type="text" name="sl" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">价格：</label>
            <div class="gui-input-block">
                <input type="text" name="jg" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">金额：</label>
            <div class="gui-input-block">
                <input type="text" name="je" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 99%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">系统版本：</label>
            <div class="gui-input-block">
                <input type="text" name="sysversion" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            var $dialog=$('#nyglCgrkEdit');
    })

</script>