<div class="gui-fluid">

    <table class="formTable" cellpadding="5" style=" width: 100%;" >
        <form action="">

            <input type="hidden"  name="flag">
            <input type="hidden"  name="id" >
            <input type="hidden"  name="code">
            <input type="hidden"  name="type" value="1" >
            <div class="gui-row" >
                <div class="gui-col-sm12">
                    <label class="gui-form-label" for="">案件名称：</label>
                    <div class="gui-input-block">
                        <input type="text" name="sqmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="gui-row" >
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">编码：</label>
                    <div class="gui-input-block">
                        <input type="text" name="bm" data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>

                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">客户：</label>
                    <div class="gui-input-block">
                        <input type="text" name="kh" data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>

            </div>

            <div class="gui-row" >
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">申请人：</label>
                    <div class="gui-input-block">
                        <input type="text" name="sqr" data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">申请号：</label>
                    <div class="gui-input-block">
                        <input type="text" name="sqh" data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>
            </div>

            <div class="gui-row" >
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">撰写人：</label>
                    <div class="gui-input-block">
                        <input type="text" name="jxr" data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">申请日：</label>
                    <div class="gui-input-block">
                        <input type="text" name="sqrq" data-toggle="gui-datebox" data-options="" style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="gui-row" >
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">申请费：</label>
                    <div class="gui-input-block">
                        <input type="text" name="sqf"  data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">证书：</label>
                    <div class="gui-input-block">
                        <input type="text" name="zs" data-toggle="gui-textbox" data-options="" style="width: 100%">
                    </div>
                </div>
            </div>
            <div class="gui-row" >
                <div class="gui-col-sm6">
                    <label class="gui-form-label" for="">是否监控年费：</label>
                    <div class="gui-input-block" data-toggle="gui-checkbox">
                        <input type="checkbox" name="nfjk">
                    </div>

                </div>
            </div>
            <div class="gui-row" >
                <div class="gui-col-sm12">
                    <label class="gui-form-label" for="">状态：</label>
                    <div class="gui-input-block">
                        <input type="text" name="stat" data-toggle="gui-textarea" data-options="" style="width: 100%; height: 72px">
                    </div>
                </div>
            </div>
        </form>
    </table>
    <table id="bzEditTable" style="width:100%;height:72%" data-options="dgid:'FMR'"></table>

</div>
<script>

    $(function () {
        debugger;
        var selectedRow = $('#patentAjxx .toolbar-table').iDatagrid('getSelected');
        var  $fieldView=$('#bzEditTable');
        var flag=$('#patentAjxxEdit').attr('tag');

        if(flag==='add'){
            selectedRow=DataBind.collectData($('#patentAjxxEdit form'));
        }

        ComboboBox.init($('#patentAjxxEdit input[name="kh"]'),
            {url: 'patent/khgl/query', valueField: 'khmc', textField: 'khmc', allowNull: true,width:'100%', onSelected(item){debugger;}});

        ComboboBox.init(
            $('#patentAjxxEdit input[name="bm"]'),
            {url: 'kzzx/user/query', valueField: 'userid', textField: 'username', allowNull: true,width:'100%'}
        );

        var columns = [
                {"title":"ID","index":0,"field":"id",width:160,"halign":"center",hidden:true},
                {"title":"CODE","index":1,"field":"code",width:160,"halign":"center",hidden:true},
                {"title":"序号","index":2,"field":"xh",width:80,"halign":"center",editor:{type:'textbox'}},
                {"title":"姓名","index":3,"field":"name",width:120,"halign":"center",editor:{type:'textbox'}},
                {"title":"英文名","index":4,"field":"ename",width:120,"align":"center", editor:{type:'textbox'}},
                {"title":"身份证号码","index":5,"field":"idcard", width:180,"halign":"center",align:"right", editor:{type:'textbox'}},
                {"title":"国籍","index":6,"field":"gj",width:100,"align":"center", editor:{type:'textbox'}},
                {"title":"备注","index":7,"field":"bz",width:160,"halign":"center",editor:{type:'textbox'}}
            ];


        $fieldView.edatagrid(
            {
                pagination: false,
                columns: [columns],
                height: 360,
                rownumbers: true,
                toolbar: [
                    {
                        iconCls: 'fa fa-plus',
                        text: '添加',
                        handler: function () {
                            var row = $fieldView.edatagrid('getRows');
                            var xh = 1;
                            if (row.length) xh = row.length + 1;
                            $fieldView.edatagrid('insertRow', {
                                row: {xh: xh, flag: 'I', code: selectedRow["code"]}
                            });
                            $fieldView.edatagrid("selectRow", row.length - 1);
                            $fieldView.edatagrid("editRow", row.length - 1)
                        }
                    },
                    {
                        iconCls: 'fa fa-trash',
                        text: '删除',
                        handler: function () {
                        var cols = $fieldView.edatagrid('getRows');
                        var aa = [];
                        var selectrow = $fieldView.edatagrid('getSelected');
                        if (selectrow == null) {
                            return false;
                        }
                        var delIndex = $fieldView.edatagrid('getRowIndex', selectrow);
                        $.each(cols, function (i, col) {
                            if (i == delIndex) {
                                if (cols[i]["flag"] != null && cols[i]["flag"] == 'I') {
                                } else {
                                    cols[i]['flag'] = 'D';
                                    aa.push(col);
                                }
                            }
                        });
                        $fieldView.datagrid('deleteRow', delIndex);

                        if ($fieldView.data("mxData")) {
                            var bb = $fieldView.data("mxData");
                            $.each(aa, function (i, item) {
                                bb.push(item);
                            });
                            $fieldView.data("mxData", bb);
                        } else {
                            $fieldView.data("mxData", aa);
                        }

                        $.each(cols, function (index, col) {
                            $fieldView.datagrid('updateRow', {
                                index: index,
                                row: {
                                    xh: index + 1
                                }
                            });
                        });

                        $fieldView.edatagrid('selectRow',delIndex);
                    }
                    }
                ]
            }
        );


        HTTP.post('patent/ajxx/query/detail',{code: selectedRow["code"]},function (result) {
            if(result['success']){
                $fieldView.edatagrid('loadData',result['data']['records']);
            }
        });
    });

</script>