<div id="patentAjxx" class="gui-div">
    <table class="toolbar-table" data-options="id: 'patentAjxxTable',herf:'kzzx/gridset/query'">
    </table>

    <!-- 表格工具栏开始 -->
    <div id="patentAjxxTable-toolbar" class="gui-toolbar"
         data-options="grid:{
	           type:'datagrid',
	           id:'patentAjxxTable'
	       }">
        <a class="toolbar-reload toolbar" href="javascript:void(0)"></a>
        <!--<a class="toolbar-print toolbar"  href="javascript:void(0)"></a>-->
        <a class="toolbar-import toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-export toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-review toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-add toolbar" href="javascript:void(0)"></a>
        <!--<a class="toolbar-copy toolbar" href="javascript:void(0)"></a>-->
        <a class="toolbar-edit toolbar" href="javascript:void(0)"></a>
        <!--<a class="toolbar-delete toolbar" href="javascript:void(0)"></a>-->
        <div class="bdsug" style="height: auto;">
            <form action="" class="query-criteria">
                <ul>
                    <li class="bdsug-store bdsug-overflow">

                        <span style="margin: 10px">
                            <label style="width: 70px;">案件类型：</label><input type="text" name="type"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请名称：</label><input type="text" name="sqmc"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请人：</label><input type="text" name="sqr"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请号：</label><input type="text" name="sqh"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                    </li>

                    <li class="bdsug-store bdsug-overflow">

                        <span style="margin: 10px">
                            <label style="width: 70px;">申请日期：</label>
                            <input type="text" name="start"   class="gui-textbox" style="width: 120px;height: 24px">
                            -
                            <input type="text" name="end"   class="gui-textbox" style="width: 120px;height: 24px">
                        </span>



                        <span style="margin: 10px">
                            <label style="width: 70px;">客户：</label><input type="text" name="kh"   class="gui-textbox" style="width: 140px; height: 24px">
                        </span>

                        <span class="serach">
                             <button type="button" class="btn btn-primary ng-binding datagrid-search query">搜索</button>
                        </span>


                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<!-- 表格工具栏结束 -->
<script>
    /*js初始化*/
    $(function () {

        $('#patentAjxx input[name="start"]').iDatebox({});

        $('#patentAjxx input[name="end"]').iDatebox({});

        $('#patentAjxx input[name="type"]').iCombobox({textField: "text", valueField: "value",height:30, data: [{value: "", text: ""}, {value: "1", text: "发明"}, {value: "2", text: "实用新型"},
                {value: "3", text: "外观设计"}, {value: "4", text: "商标注册"}, {value: "5", text: "版权登记"}]});

        // ComboboBox.init($('#patentAjxx input[name="kh"]'),
        //     {url: 'patent/khgl/query', valueField: 'khmc', textField: 'khmc', allowNull: true,width:'100%'});


        var $div = $('#patentAjxx');
        var options = {
            url: 'patent/ajxx',
            queryParams: {},
            onLoadSuccess:function(data){
                $(".note").tooltip(
                    {
                        onShow: function(){
                            $(this).tooltip('tip').css({
                                width:'300',
                                boxShadow: '1px 1px 3px #292929'
                            });
                        }
                    }
                );
            },
            columns: [[
                {title: "编码", field: "bm", patentAjxxEditfieldType: "ftString", width: 100, hidden: true},
                {title: "编号", field: "code", fieldType: "ftString", width: 160},
                {
                    title: "案件类型",
                    field: "type",
                    fieldType: "ftString",
                    width: 100,
                    align: 'center',
                    formatter: function (value, index, row) {
                        var map = {1: '发明', 2: "实用新型", 3: "外观设计", 4: "商标注册", 5: "版权登记"};
                        var text = map[value];
                        return text || value;
                    }
                },
                {title: "客户", field: "kh", fieldType: "ftString", width: 120},
                {title: "申请人", field: "sqr", fieldType: "ftString", width: 120},
                {title: "申请号", field: "sqh", fieldType: "ftString", width: 120},
                {title: "案件名称", field: "sqmc", fieldType: "ftString", width: 120, formatter: function(value, row, index) {
                        var abValue = value;
                        if (value.length>=22) {
                            abValue = value.substring(0,19) + "...";
                        }
                        var content = '<span  title="' + value + '" class="note">' + abValue + '</span>';
                        return content;
                    }
                },
                {title: "撰写人", field: "jxr", fieldType: "ftString", width: 120},
                {title: "申请日", field: "sqrq", fieldType: "ftDateTime", width: 140},
                {title: "申请费", field: "sqf", fieldType: "ftInteger", width: 140, align: 'right'},
                {title: "状态", field: "stat", fieldType: "ftString", width: 120, formatter: function(value, row, index) {
                        var content = value || "";
                        return '<span  title="' + content + '" class="note">' + content + '</span>';
                    }
                },
                {
                    title: "是否监控年费",
                    field: "nfjk",
                    fieldType: "ftString",
                    width: 64,
                    align: 'center',
                    formatter: function (value, index, row) {
                        var map = {Y: '是', N: "否"};
                        var text = map[value];
                        return text || "否";
                    }
                },
                {title: "证书", field: "zs", fieldType: "ftString", width: 120},
                {title: "类别", field: "lb", fieldType: "ftString", width: 120},
                {title: "递交人", field: "djr", fieldType: "ftString", width: 120}
            ]],
            dialog: {
                id: 'patentAjxxEdit',
                width: 900,
                height: 540,
                href: 'patent/ajxx/edit'
            }
        };
        $div.Container(options);

        $("#patentAjxx .toolbar-import").iMenubutton({
            event:'openDialog',
            iconCls: 'fa fa-upload',
            text:'导入',
            dialog:{
                title:'案件导入',
                id:'patentKhglAdd',
                width:840,
                height: 510,
                href:'patent/ajxx/importpage',
                tag:'add'
            }
        });
    });


</script>
