<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">日期：</label>
            <div class="gui-input-block">
                <input type="text" name="thedate" data-toggle="gui-datebox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>

    <div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">名称：</label>
            <div class="gui-input-block">
                <input type="text" name="name" data-toggle="gui-datetimebox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>

    <div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">类型：</label>
            <div class="gui-input-block">
                <input type="text" name="type" data-toggle="gui-datetimebox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>

	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">状态：</label>
            <div class="gui-input-block">
                <input type="text" name="stat" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">处理时间：</label>
            <div class="gui-input-block">
                <input type="text" name="time" data-toggle="gui-datetimebox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">备注：</label>
            <div class="gui-input-block">
                <input type="text" name="bz" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            var $dialog=$('#patentDailytaskEdit');
    })

</script>