<div class="gui-fluid editTable">
    <div class="gui-row" style="display: inline-block;width:46%">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">参数编码：</label>
            <div class="gui-input-block">
                <input type="text" name="csid" value="" data-options="required:true"  style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row" style="display: inline-block;width: 46%">
        <div class="gui-col-sm12">
            <label class="gui-form-label">参数名称：</label>
            <div class="gui-input-block">
                <input type="text" name="xtcscsmc"  data-options="required:true" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row">
        <div class="gui-col-sm12" >
            <label class="gui-form-label">参数值：</label>
            <div class="gui-input-block">
                <input type="text" name="csz"  data-options="required:true" style="width: 90%">
            </div>
        </div>
    </div>
    <div class="gui-row">
        <div class="gui-col-sm12" >
            <label class="gui-form-label" for="">说明：</label>
            <div class="gui-input-block">
                <input type="text"  name="cszsm"
                       data-options="height:100,multiline:true" value="" style="width: 90%">
            </div>
        </div>
    </div>
</div>
