<div id="inspectionShssj" class="gui-div">
    <table class="toolbar-table" data-options="id: 'inspectionShssjTable',herf:'inspection/gridset/query'">
    </table>
    <div id="inspectionShssjTable-toolbar" class="gui-toolbar" data-options="grid:{type:'datagrid',id:'inspectionShssjTable'}">
        <form action="" class="query-criteria" style="display: inline-block;margin-top: 4px">
            <ul><li>
                  <span >
                     <label >取样日期：</label>
                     <input type="text" data-toggle="gui-datebox" name="start" />
                    </span>
                <span >
                        <label >样号：</label>
                        <input type="text" name="bm2" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
              <!--  <span >
                        <label >序列号：</label>
                        <input type="text" name="xlh" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
                <span >
                        <label >物料查询：</label>
                        <input type="text" name="wlcx" data-toggle="gui-textbox" class="gui-textbox">
                    </span>-->
            </li></ul>
        </form>
        <a class="toolbar-reload search-right toolbar"  href="javascript:void(0)" style="display: inline-block">搜索</a>
    </div>
</div>
<script>
    $(function () {

        $("#inspectionShssj input[name='start']").iDatebox({value: new Date().Format("yyyy-MM-dd"),width:110});

        var $div=$('#inspectionShssj');
        var options={
            url:'inspection/shssj',
            queryParams:{
                start: $div.find('form input[name="start"]').val(),
                bm2: $div.find('form input[name="bm2"]').val()
         /*       xlh: $div.find('form input[name="xlh"]').val(),
                wlcx:$div.find('form input[name="wlcx"]').val()*/
            },
            columns:[[
                {title: "主键", index: 1, field: "pk_shssj", width: 160,  hidden: true},
                {title: "取样日期", index: 2, field: "rq", width: 100,  align:'center', halign:'center',  hidden: false},
                {title: "随机序列号", index: 3, field: "xlh", width: 120, halign:'center',   hidden: true},
                {title: "一次编码", index: 4, field: "bm1", width: 160,  halign:'center',  hidden: true},
                {title: "样号", index: 5, field: "bm2", width: 160,  halign:'center',  hidden: false},
                {title: "物料编码", index: 6, field: "wlbm", width: 160,  halign:'center',  hidden: true},
                {title: "物料名称", index: 7, field: "wlmc", width: 160,  halign:'center',  hidden: true},
                {title: "CaO", index: 8, field: "cao", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "MgO", index: 9, field: "mgo", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "SiO2", index: 10, field: "sio2", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "细度(-200目)", index: 11, field: "xd200", width: 90, align:'right',  halign:'center',  hidden: false},
                {title: "S", index: 12, field: "s", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "灼减", index: 13, field: "zj", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "活性度", index: 14, field: "hxd", width: 80, align:'right',  halign:'center',  hidden: false},
                {title: "生烧", index: 15, field: "ss", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "过烧", index: 16, field: "gs", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "CaF2", index: 17, field: "caf2", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "CaO和MgO", index: 18, field: "caomgo", width: 90, align:'right',  halign:'center',  hidden: false},
                {title: "≤3mm", index: 19, field: "mm", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "数据确认", index: 20, field: "sjqr", width: 80, align:'right',  halign:'center',  hidden: true},
                {title: "备注", index: 21, field: "bz", width: 100,  halign:'center',  hidden: true},
                {title: "erp_id", index: 22, field: "erp_id", width: 100,  halign:'center',  hidden: true},
                {title: "erp_sj", index: 23, field: "erp_sj", width: 100, align:'center', halign:'center',  hidden: true, formatter:function (value) {
                        if ( value==undefined || value =='' ){
                            return "";
                        }
                        var date = new Date(parseInt(value));
                        if ( isNaN(date) ){
                            return ""
                        }
                        return date.Format("yyyy-MM-dd");
                    }}
            ]],
            dialog:{
                id:'inspectionShssjEdit',
                width: 840,
                height: 320,
                href:'inspection/shssj/edit'
            }
        };
        $div.Container(options);
    });

</script>