<div class="gui-fluid editTable">

    <div id="devonlineZdymkMaster" style="width: 100%">

 <input type="hidden" name="id">
 <input type="hidden" name="flag">
 <div class="gui-row">
        <div class="gui-col-sm4">
            <label class="gui-form-label" >模块号：</label>
            <div class="gui-input-block">
                <input type="text" name="mkid" data-options="required:true" data-toggle="gui-textbox"
                style="">
            </div>
        </div>
        <div class="gui-col-sm4">
            <label class="gui-form-label" >模块名称：</label>
            <div class="gui-input-block">
                <input type="text" name="mkmc" data-options="required:true" data-toggle="gui-textbox"
                style="">
            </div>
        </div>

     <div class="gui-col-sm4">
         <label class="gui-form-label" >模块类型：</label>
         <div class="gui-input-block">
             <input type="text" name="gnlx" data-options="required:false" data-toggle="gui-textbox"
                    style="">
         </div>
     </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm4">
            <label class="gui-form-label" >父模块号：</label>
            <div class="gui-input-block">
                <input type="text" name="fmkid" data-options="required:false" data-toggle="gui-textbox"
                style="" value="109050000" readonly="readonly">
            </div>
        </div>
        <div class="gui-col-sm4">
            <label class="gui-form-label" >SQL语句：</label>
            <div class="gui-input-block">
                <input type="text" name="sql" data-options="required:false" data-toggle="gui-textbox"
                style="">
            </div>
        </div>
        <div class="gui-col-sm4">

            <label class="gui-form-label">自动运行：</label>
            <div class="gui-input-block" data-toggle="gui-checkbox" >
                <input type="checkbox" name="zdyx"    style="width: 100%" >
            </div>
        </div>
    </div>
 <div class="gui-row">
        <div class="gui-col-sm4">
            <label class="gui-form-label">自动刷新：</label>
            <div class="gui-input-block" data-toggle="gui-checkbox" >
                <input type="checkbox" name="zdsx"    style="width: 100%" >
            </div>
        </div>
        <div class="gui-col-sm4">
            <label class="gui-form-label" >刷新周期：</label>
            <div class="gui-input-block">
                <input type="text" name="sxzq" data-options="required:false" data-toggle="gui-textbox"
                style="" value="5000">
            </div>
        </div>
     <div class="gui-col-sm4">
         <label class="gui-form-label">生成模块：</label>
         <div class="gui-input-block" data-toggle="gui-checkbox" >
             <input type="checkbox" name="scmk"    style="width: 100%" readonly="readonly">
         </div>
     </div>



    </div>

    </div>

    <table id="bzEditTable" style="width:100%;height:72%"></table>

</div>

<script>


    if (!Array.prototype.forEach) {

        Array.prototype.forEach = function(callback, thisArg) {

            var T, k;

            if (this == null) {
                throw new TypeError(' this is null or not defined');
            }

            // 1. Let O be the result of calling ToObject passing the |this| value as the argument.
            var O = Object(this);

            // 2. Let lenValue be the result of calling the Get internal method of O with the argument "length".
            // 3. Let len be ToUint32(lenValue).
            var len = O.length >>> 0;

            // 4. If IsCallable(callback) is false, throw a TypeError exception.
            // See: http://es5.github.com/#x9.11
            if (typeof callback !== "function") {
                throw new TypeError(callback + ' is not a function');
            }

            // 5. If thisArg was supplied, let T be thisArg; else let T be undefined.
            if (arguments.length > 1) {
                T = thisArg;
            }

            // 6. Let k be 0
            k = 0;

            // 7. Repeat, while k < len
            while (k < len) {

                var kValue;

                // a. Let Pk be ToString(k).
                //   This is implicit for LHS operands of the in operator
                // b. Let kPresent be the result of calling the HasProperty internal method of O with argument Pk.
                //   This step can be combined with c
                // c. If kPresent is true, then
                if (k in O) {

                    // i. Let kValue be the result of calling the Get internal method of O with argument Pk.
                    kValue = O[k];

                    // ii. Call the Call internal method of callback with T as the this value and
                    // argument list containing kValue, k, and O.
                    callback.call(T, kValue, k, O);
                }
                // d. Increase k by 1.
                k++;
            }
            // 8. return undefined
        };
    }

    $(function () {

        var columns=
            [{"title":"ID","index":0,"field":"id",width:160,"align":"center",hidden:true},
                {"title":"模块号","index":1,"field":"mkid",width:160,"align":"center",hidden:true},
                {"title":"序号","index":2,"field":"xh",width:60,"align":"center",hidden:false},
                {"title":"字段","index":3,"field":"zdid",width:160,"align":"left",hidden:false},
                {"title":"名称","index":4,"field":"zdmc",width:160,"align":"left",hidden:false,editor:{
                        type:'textbox'
                    }
                },
                {"title":"类型","index":6,"field":"zdlx",width:100,"align":"left"},
                {"title":"字段长度","index":7,"field":"zdkd",width:100,"align":"left",editor:{
                        type:'numberbox'
                    }
                },
                {"title":"对齐方式","index":8,"field":"align", width:80,"align":"left",hidden:false,editor:{
                        type:'textbox'
                    }
                },
                {"title":"小数位数","index":8,"field":"xsws",width:80,"align":"center"},
                {"title":"作为条件","index":9,"field":"zwtj",width:80,"align":"center",
                    editor:{ type: 'checkbox', options:{required:true, zoom:'200%', on:'Y', off:'N'}}
                },
                {"title":"区间值","index":10,"field":"qjz",width:120,"align":"center",
                    editor:{ type: 'checkbox', options:{required:true, zoom:'200%', on:'Y', off:'N'}}
                },
                {"title":"大写控制","index":11,"field":"dxkz",width:60,"align":"center"},
                {"title":"控件类型","index":12,"field":"kjlx",width:160,"align":"center",editor:{
                        type:'textbox'
                    }
                },
                {"title":"下拉框取值来源","index":13,"field":"xlkqzly",width:160,"align":"center"},
                {"title":"下拉框值域","index":14,"field":"xlkzy",width:160,"align":"center"},
                {"title":"下拉框字段","index":15,"field":"xlkzd",width:160,"align":"center"},
                {"title":"搜索列","index":16,"field":"ssl",width:160,"align":"center"},
                {"title":"下拉列数","index":17,"field":"xlls",width:160,"align":"center"},
                {"title":"缺省值","index":18,"field":"qsz",width:160,"align":"center"},
                {"title":"汇总列","index":19,"field":"hzl",width:160,"align":"center"},
                {"title":"汇总对象","index":20,"field":"hzdx",width:160,"align":"center"},
                {"title":"排序顺序","index":21,"field":"pxsx",width:160,"align":"center"}
            ];

        $("#bzEditTable").edatagrid(
            {   pagination:false,
                columns:[columns],
                height:360,
                rownumbers:true,
                autoSave:true,
                columnFormatter: function(fieldname,fieldobj){
                    return function (value, row, index) {
                        if( fieldname=='dxkz'||fieldname=='ssl'||fieldname=='hzl'){
                            if(value=="Y"){
                                value ='<span>√</span>';
                            }else{
                                value = ' ';
                            }
                        }
                        return value;
                    }
                },
                toolbar: [{
                    iconCls: 'fa fa-plus',
                    text:'添加',
                    handler: function(){
                        var row= $("#bzEditTable").edatagrid('getRows');
                        var xh =1;
                        if(row['length']){
                            xh=row['length']+1;
                        }
                        $("#bzEditTable").edatagrid('insertRow',{
                            row: {
                                xh: xh
                            }
                        });
                        $.each($("#bzEditTable").edatagrid('getRows'),function (i,row) {
                            row["flag"] = 'I';
                        });
                    }
                },{
                    iconCls:'fa fa-trash',
                    text:'删除',
                    handler: function(){
                        var cols = $("#bzEditTable").edatagrid('getRows');
                        var aa=[];
                        var selectrow=$("#bzEditTable").edatagrid('getSelected');
                        if(selectrow == null){
                            return false;
                        }
                        var delIndex=$("#bzEditTable").edatagrid('getRowIndex',selectrow);
                        $.each(cols,function (i,col) {
                            if( i==delIndex){
                                if(  cols[i]["flag"]!=null &&  cols[i]["flag"]=='I'){
                                } else {
                                    cols[i]['flag'] = 'D';
                                    aa.push(col);
                                }
                            }
                        });
                        if($("#bzEditTable").data("mxData")){
                            var bb=$("#bzEditTable").data("mxData");
                            $.each(aa,function (i,item) {
                                bb.push(item);
                            });
                            $("#bzEditTable").data("mxData",bb);
                        }else{
                            $("#bzEditTable").data("mxData", aa);
                        }

                        $("#bzEditTable").datagrid('deleteRow', delIndex);

                        $.each(cols,function (index, col) {
                            $("#bzEditTable").datagrid('updateRow',{
                                index:index,
                                row: {
                                    xh: index+1
                                }
                            });
                        })
                    }
                },'-',{
                    text:'从SQL解析字段',
                    iconCls:'fa fa-bolt',
                    handler: function(){

                        var sql =  $("input[name='sql']").val();
                        if ( sql==null || sql=='' ){
                            return;
                        }


                        HTTP.post('devonline/getColumns',{sql: sql},function (result) {
                            console.log(result.data);

                            var fields = result.data.fields || [];

                            var records = [];
                            if ( fields.length > 0 ){


                                fields.forEach(function(field) {
                                    var row = {
                                        flag: "I",
                                        xh: field["position"],
                                        zdid: field["name"],
                                        zdlx: field["typeName"],
                                        zdkd: field["length"] * 8,
                                        xsws: field["scale"],
                                        align: 'left',
                                        kjlx: 'textbox'
                                    };




                                    switch ( field["typeName"] ){
                                        case "DATE":
                                            row["zdkd"] = 100;
                                            row["align"] = 'center';
                                            break;

                                        case "TIMESTAMP":
                                            row["zdkd"] = 120;
                                            row["align"] = 'center';
                                            break;
                                        case "NUMBER":
                                            row["zdkd"] = 80;
                                            row["align"] = 'right';
                                            break;
                                        case "CHAR":
                                            row["align"] = 'center';
                                            if ( field["length"]==1 ){
                                                row["zdkd"] = 80;
                                            }
                                            break;
                                    }

                                    if ( row["zdkd"] >= 240 ){
                                        row["zdkd"] = 240;
                                    }


                                    console.log(row);

                                    records.push(row);
                                });


                            }

                            $("#bzEditTable").edatagrid('loadData', records);

                        })
                    }
                }
                ]
            }
        );

        
       if (  $("#devonlineZdymkEdit").attr("tag") === 'edit' ) {

           var record = $('#devonlineZdymk ').find('.toolbar-table').datagrid('getSelected') || {};

           HTTP.post('devonline/zdymk/queryzdymkzd',{mkid:  record["mkid"] || "" },function (result) {
               console.log(result.data);
               if(result['success']){
                   $("#bzEditTable").edatagrid('loadData',result['data']['records']);
               }
           });

       } else if (  $("#devonlineZdymkEdit").attr("tag") === 'add' ) {

       }





    });

</script>