<div id="devonlineZdymk" class="gui-div">
    <table class="toolbar-table" data-options="id: 'devonlineZdymkTable',herf:'kzzx/gridset/query'">
    </table>
    <div id="devonlineZdymkTable-toolbar" class="gui-toolbar" data-options="grid:{type:'datagrid',id:'devonlineZdymkTable'}">
        <a class="toolbar-reload toolbar"  href="javascript:void(0)"></a>
        <a class="toolbar-add toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-edit toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-delete toolbar" href="javascript:void(0)"></a>
        <a class="toolbar-publish toolbar" href="javascript:void(0)">功能发布</a>
        <a class="toolbar-unpublish toolbar" href="javascript:void(0)">取消发布</a>

        <a class="btn btn-primary serach toolbar-search"></a>
        <div class="bdsug" style="height: auto;">
            <form action="" class="query-criteria">
                <ul><li class="bdsug-store bdsug-overflow">
                <span style="margin: 10px">
                        <label >日期范围：</label>
                    <input type="text" data-toggle="gui-datebox" name="start">
                    <input type="text" data-toggle="gui-datebox" name="end">
                    </span>
                </li></ul>
            </form>
        </div>
    </div>
</div>
<script>


    $('#devonlineZdymk .toolbar-publish').iMenubutton({
        onClick: function () {
            var record = $('#devonlineZdymk ').find('.toolbar-table').datagrid('getSelected') || {};
            if ( record==null || record == undefined ) {
                $.messager.alert('提示','请选择一条记录进行发布');
                return false;
            }

            HTTP.post('devonline/zdymk/creategnmk',{mkid:  record["mkid"] },function (result) {
                console.log(result.data);
                if ( result.success ){
                    $.messager.alert('信息','自定义模块[' + record["mkmc"]  + ']发布成功');
                } else {
                    $.messager.alert('信息', result.message || ('自定义模块[' + record["mkmc"]  + ']发布失败'));
                }
            });

        },
        text: '功能发布',
        iconCls: 'fa fa-share'
    });

    $('#devonlineZdymk .toolbar-unpublish').iMenubutton({
        onClick: function () {

            var record = $('#devonlineZdymk ').find('.toolbar-table').datagrid('getSelected');
            if ( record==null || record == undefined ) {
                $.messager.alert('提示','请选择一条已发布功能进行取消操作');
                return false;
            }

            HTTP.post('devonline/zdymk/unpublish',{mkid:  record["mkid"] },function (result) {
                console.log(result.data);
                if ( result.success ){
                    $.messager.alert('信息','自定义模块[' + record["mkmc"]  + ']取消成功');
                } else {
                    $.messager.alert('信息', result.message || ('自定义模块[' + record["mkmc"]  + ']取消失败'));
                }
            });

        },
        text: '取消发布',
        iconCls: 'fa fa-ban'
    });



    $(function () {

        $("#devonlineZdymk input[name='start']").iDatebox({});
        $("#devonlineZdymk input[name='end']").iDatebox({});

        var $div=$('#devonlineZdymk');
        var options={
            url:'devonline/zdymk',
            columns:[[
                {title: "ID", index: 0, field: "id", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "模块号", index: 10, field: "mkid", width: 120, halign:'center', align: 'left',  hidden: false },
                {title: "模块名称", index: 20, field: "mkmc", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "父模块号", index: 30, field: "fmkid", width: 120, halign:'center', align: 'left',  hidden: false },
                {title: "模块类型", index: 40, field: "gnlx", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "SQL语句", index: 50, field: "sql", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "自动运行", index: 60, field: "zdyx", width: 80, halign:'center', align: 'center',  hidden: false, formatter:function (value) {
                        var map = {Y: '是'};
                        return map[value]||"否";
                    }
                },
                {title: "自动刷新", index: 70, field: "zdsx", width: 80, halign:'center', align: 'center',  hidden: false, formatter:function (value) {
                        var map = {Y: '是'};
                        return map[value]||"否";
                    }
                },
                {title: "刷新周期", index: 80, field: "sxzq", width: 160, halign:'center', align: 'right',  hidden: false },
                {title: "维护人编码", index: 90, field: "whrid", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "维护人", index: 100, field: "whr", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "维护时间", index: 110, field: "whsj", width: 120, halign:'center', align: 'center',  hidden: false , formatter:function (value) {
                        if ( value==undefined || value =='' ){
                            return "";
                        }
                        var date = new Date(parseInt(value));
                        if ( isNaN(date) ){
                            return ""
                        }
                        return date.Format("yyyy-MM-dd");
                    }
                },
                {title: "生成模块", index: 120, field: "scmk", width: 80, halign:'center', align: 'center',  hidden: false, formatter:function (value) {
                        var map = {Y: '是'};
                        return map[value]||"否";
                    }
                }

            ]],
            dialog:{
                id:'devonlineZdymkEdit',
                width: 1000,
                height: 600,
                href:'devonline/zdymk/edit',
                addGroup: [{
                    text:'保存',
                    url:'devonline/zdymk/add',
                    iconCls:'fa fa-plus',
                    btnCls:'gui-btn-normal',
                    handler:"parameterForm",
                    callback:function(){
                        var $container=$('#devonlineZdymkEdit');
                        var _details = [];
                        var master= DataBind.collectData($("#devonlineZdymkMaster"));
                        master['flag']='I';
                        var eaRows = $container.find("#bzEditTable").datagrid('getRows');
                        $(eaRows).each(function(index,item){
                            $container.find("#bzEditTable").datagrid('endEdit',index);
                        });
                        var data=$container.find("#bzEditTable").datagrid("getData")["rows"];
                        if($container.find("#bzEditTable").data("mxData")&&$container.find("#bzEditTable").data("mxData").length>0){
                            $.each($container.find("#bzEditTable").data("mxData"),function (i,item) {
                                data.push(item);
                            });
                        }
                        _details.push({
                            id: 'ZDYMKZD',
                            records: data||[]
                        });
                        $.each(_details[0]['records'],function (i,record) {
                            delete record["id"];
                            delete record["mid"];
                            delete record["cpid"];
                            delete record["table"];
                            delete record["version"];
                        });
                        var obj={
                            parmas:{master:master,details:_details}
                        };
                        return  obj;
                    }
                }],
                editGroup: {
                    text:'更新',
                    url:'devonline/zdymk/update',
                    iconCls:'fa fa-plus',
                    btnCls:'gui-btn-normal',
                    handler:"ajaxForm",
                    queryForm:["#bzEditTable",'devonline/zdymk/get','ZDYMKZD']
                }
            }
        };
        $div.Container(options);
    });

</script>