<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" style="width: 49%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">主题编码：</label>
            <div class="gui-input-block">
                <input type="text" name="ztid" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 49%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">主题名称：</label>
            <div class="gui-input-block">
                <input type="text" name="ztmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" style="width: 49%; display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">备注：</label>
            <div class="gui-input-block">
                <input type="text" name="bz" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            var $dialog=$('#trendQsztfxEdit');
    })

</script>