<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">案件编码：</label>
            <div class="gui-input-block">
                <input type="text" name="code" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">申请名称：</label>
            <div class="gui-input-block">
                <input type="text" name="sqmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">申请号：</label>
            <div class="gui-input-block">
                <input type="text" name="sqh" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">费用名称：</label>
            <div class="gui-input-block">
                <input type="text" name="fymc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">缴费金额：</label>
            <div class="gui-input-block">
                <input type="text" name="jfje" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">缴费日期：</label>
            <div class="gui-input-block">
                <input type="text" name="jfrq" data-toggle="gui-datetimebox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">缴费人：</label>
            <div class="gui-input-block">
                <input type="text" name="jfr" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">收据：</label>
            <div class="gui-input-block">
                <input type="text" name="sj" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">备注：</label>
            <div class="gui-input-block">
                <input type="text" name="bz" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            var $dialog=$('#patentJfxxEdit');
    })

</script>