<div id="patentYjf" class="gui-div">
	<table  class="toolbar-table" data-options="id: 'patentYjfTable',herf:'kzzx/gridset/query'" >
	</table>
	
	<!-- 表格工具栏开始 -->
	<div id="patentYjfTable-toolbar" class="gui-toolbar"
	     data-options="grid:{
	           type:'datagrid',
	           id:'patentYjfTable'
	       }">
	    <a class="toolbar-reload toolbar"  href="javascript:void(0)"></a>
	    <!--<a class="toolbar-print toolbar"  href="javascript:void(0)"></a>-->
	    <a class="toolbar-export toolbar"  href="javascript:void(0)"></a>
	    <!--<a class="toolbar-review toolbar" href="javascript:void(0)"></a>-->
	    <!--<a class="toolbar-add toolbar" href="javascript:void(0)"></a>-->
	    <!--<a class="toolbar-copy toolbar" href="javascript:void(0)"></a>-->
	    <!--<a class="toolbar-edit toolbar" href="javascript:void(0)"></a>-->
	    <!--<a class="toolbar-delete toolbar" href="javascript:void(0)"></a>-->
	    <a type="submit" class="btn btn-primary serach toolbar-search"></a>
	    <div class="bdsug" style="height: auto;">
	        <form action="" class="query-criteria">
	            <ul><li class="bdsug-store bdsug-overflow">
	            </li></ul>
	        </form>
	    </div>
	</div>
</div>
<!-- 表格工具栏结束 -->
<script>
    /*js初始化*/
    $(function () {
    	var $div=$('#patentYjf');
        var options={
            url:'patent/jfxx',
            queryParams:{
            },
            columns:[[
                {title: "案件编码", field: "code", fieldType:"ftString", width: 160},
                {title: "申请名称", field: "sqmc", fieldType:"ftString", width: 160},
                {title: "申请号", field: "sqh", fieldType:"ftString", width: 160},
                {title: "费用名称", field: "fymc", fieldType:"ftString", width: 160},
                {title: "缴费金额", field: "jfje", fieldType:"ftInteger", width: 160},
                {title: "缴费日期", field: "jfrq", fieldType:"ftDateTime", width: 160},
                {title: "缴费人", field: "jfr", fieldType:"ftString", width: 160},
                {title: "收据", field: "sj", fieldType:"ftString", width: 160},
                {title: "备注", field: "bz", fieldType:"ftString", width: 160}
            ]],
            dialog:{
                id:'patentYjfEdit',
                width: 900,
                height: 506,
                href:'patent/jfxx/edit'
            }
        };
        $div.Container(options); 
    });


</script>
