<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">类型：</label>
            <div class="gui-input-block">
                <input type="text" name="type" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">业务ID：</label>
            <div class="gui-input-block">
                <input type="text" name="bid" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">名称：</label>
            <div class="gui-input-block">
                <input type="text" name="name" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">处理人：</label>
            <div class="gui-input-block">
                <input type="text" name="clr" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">处理时间：</label>
            <div class="gui-input-block">
                <input type="text" name="clsj" data-toggle="gui-datetimebox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">操作：</label>
            <div class="gui-input-block">
                <input type="text" name="opera" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">步骤：</label>
            <div class="gui-input-block">
                <input type="text" name="step" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            var $dialog=$('#patentProcessEdit');
    })

</script>