<div id="patentProcess" class="gui-div">
	<table  class="toolbar-table" data-options="id: 'patentProcessTable',herf:'kzzx/gridset/query'" >
	</table>
	
	<!-- 表格工具栏开始 -->
	<div id="patentProcessTable-toolbar" class="gui-toolbar"
	     data-options="grid:{
	           type:'datagrid',
	           id:'patentProcessTable'
	       }">
	    <a class="toolbar-reload toolbar"  href="javascript:void(0)"></a>
	    <a class="toolbar-print toolbar"  href="javascript:void(0)"></a>
	    <a class="toolbar-export toolbar"  href="javascript:void(0)"></a>
	    <a class="toolbar-review toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-add toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-copy toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-edit toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-delete toolbar" href="javascript:void(0)"></a>
	    <a type="submit" class="btn btn-primary serach toolbar-search"></a>
	    <div class="bdsug" style="height: auto; display: none" >
	        <form action="" class="query-criteria">
	            <ul><li class="bdsug-store bdsug-overflow">
	            </li></ul>
	        </form>
	    </div>
	</div>
</div>
<!-- 表格工具栏结束 -->
<script>
    /*js初始化*/
    $(function () {
    	var $div=$('#patentProcess');
        var options={
            url:'patent/process',
            queryParams:{
            },
            columns:[[
                {title: "类型", field: "type", fieldType:"ftString", width: 160},
                {title: "业务ID", field: "bid", fieldType:"ftString", width: 256},
                {title: "名称", field: "name", fieldType:"ftString", width: 800},
                {title: "状态", field: "zt", fieldType:"ftString", width: 64},
                {title: "处理人", field: "clr", fieldType:"ftString", width: 256},
                {title: "处理时间", field: "clsj", fieldType:"ftDateTime", width: 140},
                {title: "操作", field: "opera", fieldType:"ftString", width: 240},
                {title: "步骤", field: "step", fieldType:"ftInteger", width: 140},
            ]],
            dialog:{
                id:'patentProcessEdit',
                width: 900,
                height: 506,
                href:'patent/process/edit'
            }
        };
        $div.Container(options); 
    });


</script>
