<div id="inspectionThjsj" class="gui-div">
    <table class="toolbar-table" data-options="id: 'inspectionThjsjTable',herf:'inspection/gridset/query'">
    </table>
    <div id="inspectionThjsjTable-toolbar" class="gui-toolbar" data-options="grid:{type:'datagrid',id:'inspectionThjsjTable'}">
        <form action="" class="query-criteria" style="display: inline-block;margin-top: 4px">
            <ul><li>
                  <span >
                     <label >取样日期：</label>
                     <input type="text" data-toggle="gui-datebox" name="start" />
                    </span>
                <span >
                        <label >样号：</label>
                        <input type="text" name="bm2" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
            <!--    <span >
                        <label >序列号：</label>
                        <input type="text" name="xlh" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
                <span >
                        <label >物料查询：</label>
                        <input type="text" name="wlcx" data-toggle="gui-textbox" class="gui-textbox">
                    </span>-->
            </li></ul>
        </form>
        <a class="toolbar-reload search-right toolbar"  href="javascript:void(0)" style="display: inline-block">搜索</a>
    </div>
</div>
<script>
    $(function () {
        $("#inspectionThjsj input[name='start']").iDatebox({value: new Date().Format("yyyy-MM-dd"),width:110});

        var $div=$('#inspectionThjsj');
        var options={
            url:'inspection/thjsj',
            queryParams:{
                start: $div.find('form input[name="start"]').val(),
                bm2: $div.find('form input[name="bm2"]').val()
             /*   xlh: $div.find('form input[name="xlh"]').val(),
                wlcx:$div.find('form input[name="wlcx"]').val()*/
            },
            columns:[[

                {title: "PK字段", index: 10, field: "thjsj", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "取样日期", index: 20, field: "rq", width: 100, halign:'center', align: 'left',  hidden: false },
                {title: "随机序列号", index: 30, field: "xlh", width: 120, halign:'center', align: 'left',  hidden:true },
                {title: "一次编码", index: 40, field: "bm1", width: 160, halign:'center', align: 'left',  hidden:true },
                {title: "样号", index: 50, field: "bm2", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "物料编码", index: 60, field: "wlbm", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "物料名称", index: 70, field: "wlmc", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "Si", index: 80, field: "si", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "Mn", index: 90, field: "mn", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "C", index: 100, field: "c", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "P", index: 110, field: "p", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "S", index: 120, field: "s", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "SiC", index: 130, field: "sic", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "Ca", index: 140, field: "ca", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "Ba", index: 150, field: "ba", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "CaF2", index: 160, field: "caf2", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "SiO2", index: 170, field: "sio2", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "判定", index: 180, field: "pd", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "Al", index: 190, field: "al", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "H2O", index: 200, field: "h2o", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "V", index: 210, field: "v", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "N", index: 220, field: "n", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "游离碳", index: 230, field: "ylt", width: 80, halign:'center', align: 'right',  hidden: false },
                {title: "灰分", index: 240, field: "hf", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "Cr", index: 250, field: "cr", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "Mo", index: 260, field: "mo", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "Cu", index: 270, field: "cu", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "CaC2", index: 280, field: "cac2", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "类型", index: 290, field: "lx", width: 60, halign:'center', align: 'right',  hidden: true },
                {title: "数据确认", index: 300, field: "sjqr", width: 80, halign:'center', align: 'right',  hidden: true },
                {title: "备注", index: 310, field: "bz", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "erp_id", index: 320, field: "erpid", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "erp_sj", index: 330, field: "erpsj", width: 160, halign:'center', align: 'center',  hidden: true , formatter:function (value) {
                        if ( value==undefined || value =='' ){
                            return "";
                        }
                        var date = new Date(parseInt(value));
                        if ( isNaN(date) ){
                            return ""
                        }
                        return date.Format("yyyy-MM-dd");
                    }
                }
            ]],
            dialog:{
                id:'inspectionThjsjEdit',
                width: 840,
                height: 320,
                href:'inspection/thjsj/edit'
            }
        };
        $div.Container(options);
    });

</script>