<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
    <input type="hidden"  name="stat" value="claim" >
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">客户：</label>
            <div class="gui-input-block">
                <input type="text" name="kh" data-toggle="gui-textbox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">日期：</label>
            <div class="gui-input-block">
                <input type="text" name="ywrq" data-toggle="gui-datebox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
    </div>

    <div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">业务：</label>
            <div class="gui-input-block">
                <input type="text" name="yw" data-toggle="gui-textbox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">业务员：</label>
            <div class="gui-input-block">
                <input type="text" name="ywy" data-toggle="gui-textbox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">金额：</label>
            <div class="gui-input-block">
                <input type="text" name="je" data-toggle="gui-textbox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">收款账户：</label>
            <div class="gui-input-block">
                <input type="text" name="skzh" data-toggle="gui-textbox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">实际收款金额：</label>
            <div class="gui-input-block">
                <input type="text" name="sjskje" data-toggle="gui-textbox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">发票（税费）：</label>
            <div class="gui-input-block">
                <input type="text" name="fp" data-toggle="gui-textbox" data-options="" style="width: 100%" readonly>
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">全部成本：</label>
            <div class="gui-input-block">
                <input type="text" name="qbcb" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">官费：</label>
            <div class="gui-input-block">
                <input type="text" name="gf" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">专利名称：</label>
            <div class="gui-input-block">
                <input type="text" name="zlmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        var $dialog=$('#patentKxrlEdit');
        ComboboBox.init(
            $('#patentKxrlEdit input[name="kh"]'),
            {url: 'patent/khgl/query', valueField: 'khmc', textField: 'khmc', allowNull: true,width:'100%'}
        );

        ComboboBox.init(
            $('#patentKxrlEdit input[name="ywy"]'),
            {url: 'kzzx/user/query', valueField: 'userid', textField: 'username', allowNull: true,width:'100%'}
        );

        $('#patentKxrlEdit input[name="stat"]').val("claim");
    })

</script>