<div class="gui-fluid editTable">
    <input type="hidden"  name="flag" value="U">
    <input type="hidden" name="id">
    <div class="gui-row" style="width: 49%;display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">模块：</label>
            <div class="gui-input-block">
                <input type="text" name="userid" data-toggle="gui-combobox" data-options="required:true"  style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row" style="width: 49%;display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">实体类型：</label>
            <div class="gui-input-block">
                <input type="text" name="username" data-toggle="gui-combobox" data-options="required:true" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row" style="width: 49%;display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">定义类型：</label>
            <div class="gui-input-block">
                <input type="text" name="bmid" data-toggle="gui-combobox" data-options=""  style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row" style="width: 49%;display: inline-block">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">URL：</label>
            <div class="gui-input-block">
                <input type="text" name="rolename" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row" style="width: 49%">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">实体定义：</label>
            <div class="gui-input-block">
                <input type="text" name="phone" data-toggle="gui-combobox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>

</script>