<div id="inspectionMsj" class="gui-div">
    <table class="toolbar-table" data-options="id: 'inspectionMsjTable',herf:'inspection/gridset/query'">
    </table>
    <div id="inspectionMsjTable-toolbar" class="gui-toolbar" data-options="grid:{type:'datagrid',id:'inspectionMsjTable'}">

        <form action="" class="query-criteria" style="display: inline-block;margin-top: 4px">
            <ul><li>
                  <span >
                     <label >取样日期：</label>
                     <input type="text" data-toggle="gui-datebox" name="start">
                    </span>
                <span >
                        <label >样号：</label>
                        <input type="text" name="bm2" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
               <!-- <span >
                        <label >序列号：</label>
                        <input type="text" name="xlh" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
                <span >
                        <label >物料查询：</label>
                        <input type="text" name="wlcx" data-toggle="gui-textbox" class="gui-textbox">
                    </span>-->
            </li></ul>
        </form>
        <a class="toolbar-reload search-right toolbar"  href="javascript:void(0)" style="display: inline-block">搜索</a>
    </div>
</div>
<script>
    $(function () {

        $("#inspectionMsj input[name='start']").iDatebox({value: new Date().Format("yyyy-MM-dd"),width:110});

        var $div=$('#inspectionMsj');
        var options={
            url:'inspection/msj',
            queryParams:{
                start: $div.find('form input[name="start"]').val(),
                bm2: $div.find('form input[name="bm2"]').val()
              /*  xlh: $div.find('form input[name="xlh"]').val(),
                wlcx:$div.find('form input[name="wlcx"]').val()*/
            },
            columns:[[
                {title: "PK", index: 10, field: "pkmsj", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "取样日期", index: 20, field: "rq", width: 100, halign:'center', align: 'left',  hidden: false },
                {title: "随机序列号", index: 30, field: "xlh", width: 120, halign:'center', align: 'left',  hidden: true },
                {title: "一次编码", index: 40, field: "bm1", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "样号", index: 50, field: "bm2", width: 160, halign:'center', align: 'left',  hidden: false },
                {title: "物料编码", index: 60, field: "wlbm", width: 160, halign:'center', align: 'left',  hidden: true},
                {title: "物料名称", index: 70, field: "wlmc", width: 160, halign:'center', align: 'left',  hidden:true },
                {title: "H2O", index: 80, field: "h2o", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "灰分", index: 90, field: "hf", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "可燃基挥发分", index: 100, field: "hff", width: 110, halign:'center', align: 'right',  hidden: false },
                {title: "固定碳", index: 110, field: "gdt", width: 80, halign:'center', align: 'right',  hidden: false },
                {title: "S", index: 120, field: "s", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "焦渣特征", index: 130, field: "jztz", width: 80, halign:'center', align: 'right',  hidden: false },
                {title: "G值", index: 140, field: "gz", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "哈氏可磨指数", index: 150, field: "hskmzs", width: 110, halign:'center', align: 'right',  hidden: false },
                {title: "粒度", index: 160, field: "ld", width: 60, halign:'center', align: 'right',  hidden: false },
                {title: "数据确认", index: 170, field: "sjqr", width: 80, halign:'center', align: 'right',  hidden:true },
                {title: "备注", index: 180, field: "bz", width: 160, halign:'center', align: 'left',  hidden: true},
                {title: "ERP_ID", index: 190, field: "erpid", width: 160, halign:'center', align: 'left',  hidden: true },
                {title: "ERP_SJ", index: 200, field: "erpsj", width: 160, halign:'center', align: 'center',  hidden: true , formatter:function (value) {
                        if ( value==undefined || value =='' ){
                            return "";
                        }
                        var date = new Date(parseInt(value));
                        if ( isNaN(date) ){
                            return ""
                        }
                        return date.Format("yyyy-MM-dd");
                    }
                }
            ]],
            dialog:{
                id:'inspectionMsjEdit',
                width: 840,
                height: 320,
                href:'inspection/msj/edit'
            }
        };
        $div.Container(options);
    });

</script>