<div class="gui-fluid editTable">
    <input type="hidden"  name="id">
    <input type="hidden"  name="flag" value="U">

    <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">角色编码：</label>
            <div class="gui-input-block">
                <input type="text" name="roleid" data-options="required:true" data-toggle="gui-textbox"  style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">角色名称：</label>
            <div class="gui-input-block">
                <input type="text" name="rolename"  data-options="required:true"  data-toggle="gui-textbox"  style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row">
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">备注信息：</label>
            <div class="gui-input-block">
                <input type="text" name="bz"  data-options="multiline:true"  data-toggle="gui-textarea" style="width: 100%;height:66px">
            </div>
        </div>
    </div>
</div>
<script>

</script>