<div id="metricMetricsArea" class="gui-div">
	<table  class="toolbar-table" data-options="id: 'metricMetricsAreaTable',herf:'kzzx/gridset/query'" >
	</table>
	
	<!-- 表格工具栏开始 -->
	<div id="metricMetricsAreaTable-toolbar" class="gui-toolbar"
	     data-options="grid:{
	           type:'datagrid',
	           id:'metricMetricsAreaTable'
	       }">
	    <a class="toolbar-reload toolbar"  href="javascript:void(0)" style="display: none"></a>
	  <!--  <a class="toolbar-print toolbar"  href="javascript:void(0)"></a>
	    <a class="toolbar-export toolbar"  href="javascript:void(0)"></a>-->
	    <a class="toolbar-review toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-add toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-copy toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-edit toolbar" href="javascript:void(0)"></a>
	    <a class="toolbar-delete toolbar" href="javascript:void(0)"></a>
	    <a type="submit" class="btn btn-primary serach toolbar-search"></a>
	    <div class="bdsug" style="height: auto;">
	        <form action="" class="query-criteria">
	            <ul><li class="bdsug-store bdsug-overflow">
	            </li></ul>
	        </form>
	    </div>
	</div>
</div>
<!-- 表格工具栏结束 -->
<script>
    /*js初始化*/
    $(function () {
    	var $div=$('#metricMetricsArea');
        var options={
            url:'metric/metricsArea',
            queryParams:{
            },
            columns:[[
                {title: "编码", field: "code", fieldType:"ftString", index: 0, width: 160, hidden:false},
                {title: "采集区名称", field: "name", fieldType:"ftString", index: 1, width: 300, hidden:false},
                {title: "采集机器", field: "host", fieldType:"ftString", index: 1, width: 300, hidden:false},
                {title: "备注", field: "bz", fieldType:"ftString", index: 2, width: 240, hidden:false},
                {title: "维护人", field: "whr", fieldType:"ftString", index: 5, width: 140, hidden:false},
                {title: "维护时间", field: "whsj", fieldType:"ftDateTime", index: 6, width: 180, hidden:false}
            ]],
            dialog:{
                id:'metricMetricsAreaEdit',
                width: 630,
                height: 306,
                href:'metric/metricsArea/edit'
            }
        };
        $div.Container(options); 
    });


</script>
