﻿<style>
    .li_data li,.li_template li{
        margin: 10px 0;
    }
</style>
<div id="bar1" style="width:100%;height: 300px"></div>
<div style="width: 100%;height: 100%;position: relative">
    <table style="height: 100%; width: 84%;display: inline-block" class="blastfurnace1-draw">
        <tr>
        </tr>
    </table>


    <ul class="li_data" style="width: 16%;position: absolute;right:10px;top: 20px;">
        <h4 style="margin: 0 auto">实时数据</h4>
        <div></div>
    </ul>

</div>





<!--<script type="text/javascript" src="thirdparty/charts/loader.js"></script>-->
<script src="GUI/static/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">

    $(function () {
        var draw=$('.blastfurnace1-draw');
        var selectedTab= $('#tabs').tabs('getSelected');
        $('#tabs').tabs('update', {
            tab: selectedTab,
            options: {
                type:'N'
            }
        });
        var config={
            rate: 1440*2, ltype: 'hs1', timespan:1440*60
        };
        /*初始化*/
        configDraw('rtdata/loadconfig/'+config.ltype,{});
        /*数据*/
        clock('rtdata/loaddata',config,"rtdata/loaddata/bar");
        window.clearInterval(TimerCustom.getNum());
        var int=null;
       /* int=self.setInterval(function(){
            clock('rtdata/loaddata',config)
        },5000);*/
        TimerCustom.setNum(int);
        /*更新数据*/
        function refreshData(chart,timespan,data){
            if(!chart){
                return;
            }
          /*  if(!data||data.length<1)return;*/
            var option = chart.getOption();
            option.xAxis[0].data=timespan;
            option.series = data;
            chart.setOption(option);
        }
        /*构建OPTIONS*/
        function ec(config) {
            return {
                title : {
                    text: config.title||'',
                    textStyle:{
                        color:'#ccc',
                        fontStyle:'normal',
                        fontSize:18
                    },
                    left:'right'
                },
                tooltip : {trigger: 'axis'},
                legend: {show: true, bottom:0, data:config.name||[]},
                toolbox: {show : true, left:20, top:10, feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: true},
                        /*  magicType : {show: true, type: ['line', 'bar', 'stack', 'tiled']},*/
                        restore : {show: true}, saveAsImage : {show: true}
                    }},
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        boundaryGap : false,
                        data :[]
                    }
                ],
                yAxis : [{type : 'value'}],
                series :[]
            };
        }
        function clock(url,params,barUrl) {
            if(!url||url==='')return;
            HTTP.post(url,params,function (result) {
                if(result['success']){
                    var records=result['data']['trenddata'];
                    var datas=records['datas'];
                    var groups=records['groups'];
                    var items=records['items'];
                    var createList=[],name={};
                    $.each(items,function (i,item) {
                        name[item['name']]=item['id'];
                    });
                    var shdata=[];
                    var keys = Object.keys(datas);
                   /* for (var i = 0; i < keys.length; i++) {
                        var values = datas[keys[i]];
                        var len = values.length;
                        if ( len > 5 ){
                            var cur = 0;
                            for (var j = len -5; j < len; j++) {
                                if ( values[j] != 0 ){
                                    cur = values[j];
                                    continue;
                                }
                                if ( values[j] == 0 ) {
                                    values[j] = cur;
                                }
                            }
                        }
                        datas[keys[i]] = values;
                    }*/

                    $.each(items,function (i,item) {
                        if(item['id']&&datas[item['id']]){
                            shdata.push({name:item['name']+item['unit'],value:datas[item['id']][datas[item['id']].length-1]})
                        }
                    });
                    $.each(groups,function (i,item) {
                        createList=[];
                        $.each(item.metrics,function (j,dm) {
                            if(name[dm]){
                                createList.push({name:dm,type:'line',data:datas[name[dm]]})
                            }
                        });
                        refreshData( $("#map_"+item['name']).data('target'),records['xaxis'],createList);
                    });
                    $('.li_data').find('div').html('');
                    $.each(shdata,function (i,item) {
                        $('.li_data').find('div').append('<li style="text-align: right;color: green"><span style="left: 0;position: absolute;color: black">'+item['name']+'</span>'+item['value']+'</li>');
                    });

                }else{
                    $.messager.alert('提示','实时更新数据失败，请重新打开页面');
                    window.clearInterval(TimerCustom.getNum());
                    return false;
                }
            },null,true);
           /* HTTP.post(barUrl,{},function (result) {
                if(result['success']&&result){
                    var records=result['data']['trenddata'];
                    var datas=records['datas'];


                        refreshData( $("#bar1").data('target'),records['xaxis'],createList);


                }else{
                    $.messager.alert('提示','实时更新数据失败，请重新打开页面');
                    window.clearInterval(TimerCustom.getNum());
                    return false;
                }
            },null,true)*/
        }

        function configDraw(url,params) {
            if(!url||url==='')return;
            HTTP.post(url,params,function (result) {
                if(result['success']&&result['data']['config']){
                    var groups=result['data']['config']['groups'];
                    var items=result['data']['config']['items'];
                    $.each(groups,function (i,group) {
                        if(group.type==='line'){
                        $(draw).find('tr').append(
                            '<td style="width: 45%;display: inline-block">' +
                            '<div id="map_'+group['name']+'"  style="width:480px;height:320px;"></div>' +
                            '</td>');
                        var myChart = echarts.init(document.getElementById('map_'+group['name']));
                        myChart.clear();
                        var name=[];
                        $.each(items,function (i,item) {
                            if(group['metrics'].indexOf(item['id'])>-1){
                                name.push(item['name']+item['unit']);
                            }
                        });
                        var drawConfig={
                            name:name,title:group['name']
                        };
                        myChart.setOption(ec(drawConfig));
                        $("#map_"+group['name']).data('target',myChart);
                        }else{

                        }
                    });
                }else{
                    $.messager.alert('提示','初始化失败');
                    return false;
                }
            },null,true);
        }
        /*柱状图*/
        var bar = echarts.init(document.getElementById('bar1'));
        var barOption={
            title : {
                text: '风箱温度'
            },
            tooltip : {
                trigger: 'axis'
            },
            toolbox: {
                show : false,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
            legend:{data:[]},
            calculable : true,
            xAxis : [],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
            ]
        };
        barOption.legend.data=['左侧温度','右侧温度'];
        barOption.xAxis[0]=  {
            type : 'category',
            data : ['1#','2#','3#','4#','5#','6#','7#','8#','9#','10#','11#','12#']
        };
        barOption.series=[{
            name:'左侧温度',
            type:'bar',
            data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
        },
            {
                name:'右侧温度',
                type:'bar',
                data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],

            }];
        bar.setOption(barOption);
    })


</script>
