<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
    <div class="gui-row" style="width: 100%; display: inline-block">
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">年度：</label>
            <div class="gui-input-block">
                <input type="text" name="year" data-options="" style="width: 100%">
            </div>
        </div>
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">月度：</label>
            <div class="gui-input-block">
                <input type="text" name="month" data-options="required:true" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row" style="width: 100%; display: inline-block">
    </div>
</div>
<table class="mx" style="width: 100%"></table>
<script>
    $(function () {
        var $dialog=$('#sjcjCpcljhAdd');
        var year=createYear("2018","2100");
        var mouth=createYear("1","12");
        $dialog.find("input[name=year]").iCombobox({valueField:'value',textField:'text',data:year,panelHeight:224 });
        $dialog.find("input[name=month]").iCombobox({valueField:'value',textField:'text',data:mouth});
        var date=new Date();
        date.setDate(date.getDate()-1);
        HTTP.post('common/datetime',{},function (result) {
            if(result['success']&&result['data']['data']){
                date =getNextMonth(result['data']['data']);
                $dialog.find("input[textboxname=year]").combobox({value:date.year});
                $dialog.find("input[textboxname=month]").combobox({value:date.month});
            }
        });

        var columns=[[
            {title: "物料编码", field: "wlid", index: 0, width: 160,halign:"center", hidden:false},
            {title: "物料名称", field: "wlmc", fieldType:"ftString", index: 2, width: 160, hidden:false,halign:"center"},
            {title: "计划数量", field: "jhsl",editor:{type:"numberbox",options:{
                precision:3
            }}, index: 2, width: 160, hidden:false,halign:"center",formatter:function (value) {
                if(value){
                    var text =parseFloat(value).toFixed(3);
                    return text;
                }else{
                    return 0;
                }

            }}
        ]];

        $dialog.find('.mx').edatagrid({
            rownumbers:true,
            columns:columns,
            toolbar:[
                {
                    iconCls: 'fa fa-plus',
                    text: '选择物料',
                    handler: function () {
                        $('<div id="selectWl" style="position:relative;width: 100%"/>').iDialog({
                            title:'选择物料',
                            width:960,
                            height:540,
                            buttons: [{
                                text: '确认',
                                iconCls: 'fa fa-save',
                                btnCls: 'gui-btn-save',
                                handler: function () {
                                    var selections=$('#selectWl').find('.dat_table').datagrid("getChecked");
                                    var pre= $dialog.find('.mx').edatagrid('getData')["rows"];
                                    var s=[];
                                    $.each(pre,function (i,row) {
                                        s.push(row["wlid"]);

                                    });
                                    $.each(selections,function (i,row) {
                                        if(s.indexOf(row["wlid"])<=-1){
                                            $dialog.find('.mx').datagrid("appendRow",{
                                                wlid:row["wlid"],
                                                wlmc:row["wlmc"],
                                                sl:0,
                                            })
                                        }

                                    });

                                    $('#selectWl').iDialog('destroy');
                                }
                            },{
                                text:'取消',
                                iconCls: "fa fa-close",
                                btnCls: "gui-btn-danger",
                                handler:function () {
                                    $('#selectWl').iDialog('destroy');
                                }
                            }],
                            onOpen:function ($container) {
                                var layero=$("#selectWl");
                                layero.find('.keyword').iTextbox({
                                    width:'90%',
                                    inputEvents: $.extend({}, $.fn.textbox.defaults.inputEvents, {
                                        keyup: function (event) {
                                            event.stopPropagation();
                                            if (event.keyCode === 13) {
                                                var keyword=layero.find('.keyword').iTextbox('getValue');
                                                HTTP.post("sjcj/wlxx/query",{condition:keyword},function (result) {
                                                    if(result['success']){
                                                        layero.find('.dat_table').datagrid('clientPaging',{data:[]});
                                                        layero.find('.dat_table').datagrid('clientPaging',{data:result['data']['records']||[]});
                                                    }
                                                })
                                            }}})
                                });
                                var columns=[
                                    {field:'',checkbox:true},
                                    {title: "物料编码", field: "wlid", fieldType:"ftString", index: 0, width: 160,halign:"center", hidden:false},
                                    {title: "物料名称", field: "wlmc", fieldType:"ftString", index: 2, width: 160, hidden:false,halign:"center",},
                                    {title: "物料分类", field: "flid", fieldType:"ftString", index: 4, width: 160, hidden:true,halign:"center"},
                                    {title: "物料分类", field: "flmc", fieldType:"ftString", index: 5, width: 160, hidden:false,halign:"center"},
                                    {title: "备注", field: "bz", fieldType:"ftString", index: 6, width: 160, hidden:false,halign:"center"},
                                    {title: "创建人", field: "cjr", fieldType:"ftString", index: 8, width: 160, hidden:false,halign:"center"},
                                    {title: "创建时间", field: "cjsj", fieldType:"ftDateTime", index: 10, width: 200, hidden:false,halign:"center",formatter:function (value) {
                                            if ( value==undefined || value =='' ){
                                                return "";
                                            }
                                            var date = new Date(parseInt(value));
                                            if ( isNaN(date) ){
                                                return ""
                                            }
                                            return date.Format("yyyy-MM-dd");
                                        }},
                                    {title: "维护人", field: "whr", fieldType:"ftString", index: 12, width: 160, hidden:false,halign:"center"},
                                    {title: "维护时间", field: "whsj", fieldType:"ftDateTime", index: 14, width: 200, hidden:false,halign:"center",formatter:function (value) {
                                            if ( value==undefined || value =='' ){
                                                return "";
                                            }
                                            var date = new Date(parseInt(value));
                                            if ( isNaN(date) ){
                                                return ""
                                            }
                                            return date.Format("yyyy-MM-dd");
                                        }}
                                ];
                                layero.find('.dat_table').edatagrid(
                                    { idField:"wlid",
                                        pagination:true,
                                        rownumbers:true,
                                        singleSelect:false,
                                        columns:[columns],
                                        autoSave:true
                                    });
                                var keyword=layero.find('.keyword').iTextbox('getValue');
                                HTTP.post("sjcj/wlxx/query",{condition:keyword},function (result) {
                                    if(result['success']){
                                        layero.find('.dat_table').datagrid('clientPaging',{data:result['data']['records']||[]});
                                    }
                                });
                                layero.find('.auxiliary-icon').unbind().bind('click',function() {
                                    var keyword=layero.find('.keyword').iTextbox('getValue');
                                    HTTP.post("sjcj/wlxx/query",{condition:keyword},function (result) {
                                        if(result['success']){
                                            layero.find('.dat_table').datagrid('clientPaging',{data:[]});
                                            layero.find('.dat_table').datagrid('clientPaging',{data:result['data']['records']||[]});
                                        }
                                    })

                                });
                            },
                            onClose: function () {
                                $(this).form("clear");
                                $(this).iDialog('destroy');
                            }

                        });
                        var content_html =
                            '<div style="overflow: hidden;position: relative;height: 10%">' +
                            '<div class="" style="width: 100%;margin: 10px">' +
                            '<label style="display: inline-block;margin-right: 6px" >搜索条件</label><input type="text" class="keyword" data-toggle="gui-textbox" placeholder="" style="height: 30px;line-height: 30px;margin-left: 10px;padding-left: 10px">' +
                            '<span class="auxiliary-icon fa fa-search"></span></div>' +
                            '</div>'+
                            '<div style="width:100%;overflow: hidden;height: 90%"><table class="dat_table" style="height: 100%;width: 100%"></table></div>';
                        $('#selectWl').html('').append(content_html);
                        $('#selectWl').iDialog('open');

                    }
                },
                {
                    iconCls: 'fa fa-trash',
                    text: '删除',
                    handler: function () {
                        if($dialog.find('.mx').edatagrid('getSelected')==null){
                            return;
                        }
                        var index=$dialog.find('.mx').datagrid('getRowIndex',$dialog.find('.mx').edatagrid('getSelected'));
                        $dialog.find('.mx').datagrid('deleteRow',index);
                    }
                }]
        });



    })

</script>