<div id="inspectionKlsj" class="gui-div">
    <table class="toolbar-table" data-options="id: 'inspectionKlsjTable',herf:'inspection/gridset/query'">
    </table>
    <div id="inspectionKlsjTable-toolbar" class="gui-toolbar" data-options="grid:{type:'datagrid',id:'inspectionKlsjTable'}">
        <form action="" class="query-criteria" style="display: inline-block;margin-top: 4px">
            <ul><li>
                  <span >
                     <label >取样日期：</label>
                     <input type="text" data-toggle="gui-datebox" name="start" />
                    </span>
                <span >
                        <label >样号：</label>
                        <input type="text" name="bm2" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
           <!--     <span >
                        <label >序列号：</label>
                        <input type="text" name="xlh" data-toggle="gui-textbox" class="gui-textbox">
                    </span>
                <span >
                        <label >物料查询：</label>
                        <input type="text" name="wlcx" data-toggle="gui-textbox" class="gui-textbox">
                    </span>-->
            </li></ul>
        </form>
        <a class="toolbar-reload search-right toolbar"  href="javascript:void(0)" style="display: inline-block">搜索</a>
    </div>
</div>
<script>
    $(function () {

        $("#inspectionKlsj input[name='start']").iDatebox({value: new Date().Format("yyyy-MM-dd"),width:110});

        var $div=$('#inspectionKlsj');
        var options={
            url:'inspection/klsj',
            queryParams:{
                start: $div.find('form input[name="start"]').val(),
                bm2: $div.find('form input[name="bm2"]').val()
         /*       xlh: $div.find('form input[name="xlh"]').val(),
                wlcx:$div.find('form input[name="wlcx"]').val()*/
            },
            columns:[[

                {title: "主键", index: 1, field: "klsj", width: 160,  align:'center',  halign:'center',hidden: true},
                {title: "取样日期", index: 20, field: "rq", width: 100, align:'center',  halign:'center',  hidden: false},
                {title: "随机序列号", index: 30, field: "xlh", width: 120, halign:'center',  hidden: true},
                {title: "一次编码", index: 40, field: "bm1", width: 160, halign:'center',  hidden: true},
                {title: "样号", index: 50, field: "bm2", width: 160, halign:'center',  hidden: false},
                {title: "物料编码", index: 60, field: "wlbm", width: 160, halign:'center',  hidden: true},
                {title: "物料名称", index: 70, field: "wlmc", width: 160, halign:'center',  hidden: true},
                {title: "TFe", index: 80, field: "tfe", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "FeO", index: 90, field: "feo", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "SiO2", index: 100, field: "sio2", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "CaO", index: 110, field: "cao", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "MgO", index: 120, field: "mgo", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Al2O3", index: 130, field: "al2o3", width: 80, align:'right',  halign:'center',  hidden: false},
                {title: "P", index: 140, field: "p", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "S", index: 150, field: "s", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "H2O", index: 160, field: "h2o", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "As", index: 170, field: "as", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Pb", index: 180, field: "pb", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Cu", index: 190, field: "cu", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "V2O5", index: 200, field: "v2o5", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "TiO2", index: 210, field: "tio2", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "MnO", index: 220, field: "mno", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "K2O", index: 230, field: "k2o", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Na2O", index: 240, field: "na2o", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Ni", index: 250, field: "ni", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Co", index: 260, field: "co", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Zn", index: 270, field: "zn", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Ba", index: 280, field: "ba", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Sn", index: 290, field: "sn", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "WO3", index: 300, field: "wo3", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "Bi2O3", index: 310, field: "bi2o3", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "抗压强度950N合格率", index: 320, field: "hglv950", width: 160, align:'right',  halign:'center',  hidden: false},
                {title: "抗压强度1500N合格率", index: 330, field: "hglv1500", width: 160, align:'right',  halign:'center',  hidden: false},
                {title: "抗压强度1800N合格率", index: 340, field: "hglv1800", width: 160, align:'right',  halign:'center',  hidden: false},
                {title: "R", index: 350, field: "r", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "含粉率", index: 360, field: "hflv", width: 80, align:'right',  halign:'center',  hidden: false},
                {title: "抗压强度2000N合格率", index: 370, field: "hglv2000", width: 160, align:'right',  halign:'center',  hidden: false},
                {title: "CaO和MgO", index: 380, field: "caomgo", width: 100, align:'right',  halign:'center',  hidden: false},
                {title: "细度(-200目)", index: 390, field: "xd200", width: 120, align:'right',  halign:'center',  hidden: false},
                {title: "K2ONa2O", index: 400, field: "k2ona2o", width: 80, align:'right',  halign:'center',  hidden: false},
                {title: "烧损", index: 410, field: "ss", width: 60, align:'right',  halign:'center',  hidden: false},
                {title: "硫酸根", index: 420, field: "lsg", width: 80, align:'right',  halign:'center',  hidden: false},
                {title: "类型", index: 430, field: "lx", width: 60, align:'right',  halign:'center',  hidden: true},
                {title: "数据确认", index: 440, field: "sjqr", width: 80, align:'right',  halign:'center',  hidden: true},
                {title: "备注", index: 450, field: "bz", width: 160, halign:'center',  hidden: true},
                {title: "erp_id", index: 460, field: "erpId", width: 160, halign:'center',  hidden: true},
                {title: "erp_sj", index: 470, field: "erpSj", width: 160, halign:'center',   hidden: true, formatter:function (value) {
                        if ( value==undefined || value =='' ){
                            return "";
                        }
                        var date = new Date(parseInt(value));
                        if ( isNaN(date) ){
                            return ""
                        }
                        return date.Format("yyyy-MM-dd");
                    }
                }
            ]],
            dialog:{
                id:'inspectionKlsjEdit',
                width: 840,
                height: 320,
                href:'inspection/klsj/edit'
            }
        };
        $div.Container(options);
    });

</script>