<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">客户名称：</label>
            <div class="gui-input-block">
                <input type="text" name="khmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">单位名称：</label>
            <div class="gui-input-block">
                <input type="text" name="dwmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">联系电话：</label>
            <div class="gui-input-block">
                <input type="text" name="lxdh" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">邮箱：</label>
            <div class="gui-input-block">
                <input type="text" name="yx" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">地址：</label>
            <div class="gui-input-block">
                <input type="text" name="dz" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">主营范围：</label>
            <div class="gui-input-block">
                <input type="text" name="zyfw" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">备注：</label>
            <div class="gui-input-block">
                <input type="text" name="bz" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
            var $dialog=$('#patentKhglEdit');
    })

</script>