<div class="gui-fluid editTable">
    <input type="hidden"  name="flag">
    <input type="hidden"  name="id" >
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">客户名称：</label>
            <div class="gui-input-block">
                <input type="text" name="khmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>

        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">联系电话：</label>
            <div class="gui-input-block">
                <input type="text" name="lxdh" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">邮箱：</label>
            <div class="gui-input-block">
                <input type="text" name="yx" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>

        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">主营范围：</label>
            <div class="gui-input-block">
                <input type="text" name="zyfw" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>

    <div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">单位名称：</label>
            <div class="gui-input-block">
                <input type="text" name="dwmc" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">地址：</label>
            <div class="gui-input-block">
                <input type="text" name="dz" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
    <div class="gui-row" >
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">外勤人员：</label>
            <div class="gui-input-block">
                <input type="text" name="wlry" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
        <div class="gui-col-sm6">
            <label class="gui-form-label" for="">内勤人员：</label>
            <div class="gui-input-block">
                <input type="text" name="nlry" data-toggle="gui-textbox" data-options="" style="width: 100%">
            </div>
        </div>
    </div>
	<div class="gui-row" >
        <div class="gui-col-sm12">
            <label class="gui-form-label" for="">备注：</label>
            <div class="gui-input-block">
                <input type="text" name="bz" data-toggle="gui-textarea" data-options="" style="width: 100%; height: 72px">
            </div>
        </div>
    </div>

</div>
<script>
    $(function () {
        var $dialog=$('#patentKhglEdit');

        ComboboBox.init(
            $('#patentKhglEdit input[name="nlry"]'),
            {url: 'kzzx/user/query', valueField: 'userid', textField: 'username', allowNull: true,width:'100%'}
        );

        ComboboBox.init(
            $('#patentKhglEdit input[name="wlry"]'),
            {url: 'kzzx/user/query', valueField: 'userid', textField: 'username', allowNull: true,width:'100%'}
        );
    })

</script>